.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #0c5503, #32d609);
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
}

.rightInnerContainer {
  display: flex;
  height: 3rem;
  
  justify-content: flex-end;
  align-items: center;
  margin-right: 5%;
}
.rightInnerContainer a i{
  color:black;
}
.rightInnerContainer a i:hover{
  color: #fff;
}
.onlineIcon {
  margin-right: 5%;
}
