@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');


.form {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #D3D3D3;
  height: 4rem;
  font-family: 'Source Sans Pro', sans-serif;
  background: black;
  
  font-size: 1rem;
}

.input {
  display: flex;
  height: 4rem;
  border: none;
  background: black;
  
  width: 80%;
  font-size: 1rem;
  color:green;
  padding: 1rem;
}
.send{
  height: 2rem;
  width: 1.5rem;
 
}

.emojis {
   position: fixed;
   display: block;
   bottom: 8px;
   left: 7px;
   width: 34px;
   height: 34px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  background: #000000;
  margin-right: 1rem; 
  border-radius: 25px;
 color: green;
 border: none;
}
