.messageBox {
  display: flex;
 
  border: 2px solid black;
  border-radius: 20px;
   padding: 1rem;
   

  display: inline-block;
  max-width: 80%;
  height: 2rem;
}

.messageText {
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
  margin:0;
}

.messageText img {
  vertical-align: middle;
}

.messageContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5%;
  margin-top: 3px;
}

.sentText {
  display: flex;
  align-items: center;
  font-family: Helvetica;
  color: #828282;
  letter-spacing: 0.3px;
}

.pl-10 {
  padding-left: 10px;
  color: #fff;
}

.pr-10 {
  padding-right: 10px;
  color: #07C10A;
}

.justifyStart {
  justify-content: flex-start;
}

.justifyEnd {
  justify-content: flex-end;
}

.textColor {
  color: black;
}

.colorDark {
  color: #353535;
}

.backgroundBlue {
  background: #07C10A;
  display: flex;
  align-items: center;
  border:none;
}

.backgroundLight {
  display: flex;
  align-items: center;
  background: #F3F3F3;
  border: none;
}
